#container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#upper {
    display: flex;
    justify-content: space-between;
}

#lower {
    display: flex;
    justify-content: space-between;
}